html,body,#app{
	height: 100%;
	margin: 0;
	padding: 0;
}
.el-breadcrumb{
	margin-bottom: 15px;
	font-size: 12px;
}
.el-card{
	box-shadow: 2px 1px 3px rgb(0,0,0,.2) !important;
}
.el-cascader-menu{
	  height: 300px;
}